/* style rules and vars for overview page cards with images */

.card-visual,
.card-visual * {
  box-sizing: border-box;
}
.card-visual {
  background: var(--neutrals-grey-2, #131313);
  border-radius: 9px 9px 0px 0px;
  flex-shrink: 0;
  width: 365px;
  height: 480px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-image {
  width: 363px;
  height: 236px;
  position: absolute;
  left: 1px;
  top: 1px;
}
.rectangle-34656627 {
  background: linear-gradient(to left, #d7d7d7, #d7d7d7);
  border-radius: 9px 9px 0px 0px;
  width: 363px;
  height: 236px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-1010107219 {
  position: absolute;
  inset: 0;
}
.rectangle-38708 {
  border-radius: 10px 10px 0px 0px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 365px;
  height: 238px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-2018775824 {
  background: var(--neutrals-grey-2, #131313);
  border-radius: 0px 0px 10px 10px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 25px 31px 25px 31px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 365px;
  position: absolute;
  left: 0px;
  top: calc(50% - 3.2px);
}
.card-visual-frame-2018775810 {
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 22.74px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.card-visual-frame-44 {
  display: flex;
  flex-direction: row;
  gap: 46.39px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.card-visual-general-object-detection {
  flex-shrink: 0;
  width: 302.71px;
  height: 135.66px;
  position: static;
}
.card-visual-frame-2018775799 {
  display: flex;
  flex-direction: column;
  gap: 28.2px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.card-visual-frame-2018775798 {
  display: flex;
  flex-direction: column;
  gap: 9.1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.industry {
  color: var(--text-text-white, #ffffff);
  text-align: left;
  font: 600 21.83px/29.11px "Segoe UI", sans-serif;
  position: relative;
}
.card-visual-description {
  color: var(--text-text-white, #ffffff);
  text-align: left;
  font: 400 12px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 302.53px;
  transform-origin: 0 0;
  transform: rotate(0.107deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2018775809 {
  display: flex;
  flex-direction: row;
  gap: 4.55px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.view-applications {
  color: var(--text-text-cta, #50e6ff);
  text-align: left;
  font: 600 16.37px/18.19px "Segoe UI", sans-serif;
  position: relative;
}
.chevron-close {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

/* vars */
:root {

  /* Colors */

  --radio-1: radial-gradient(
    closest-side,
    rgba(255, 227, 153, 1) 0%,
    rgba(255, 163, 139, 1) 28.125%,
    rgba(0, 120, 212, 1) 84.89583134651184%,
    rgba(68, 162, 235, 1) 100%
  );
  --gradient-2: linear-gradient(
    270deg,
    rgba(192, 59, 196, 1) 0%,
    rgba(255, 163, 139, 1) 40.625%,
    rgba(255, 227, 153, 1) 100%
  );
  --colorful: linear-gradient(
    -82.02deg,
    rgba(0, 120, 212, 1) 0%,
    rgba(73, 197, 177, 1) 34.375%,
    rgba(255, 163, 139, 1) 67.1875%,
    rgba(192, 59, 196, 1) 100%
  );
  --gradientblue: linear-gradient(
    180deg,
    rgba(141, 200, 232, 1) 0%,
    rgba(0, 120, 212, 1) 100%
  );
  --gradientblue-2: linear-gradient(
    10.61deg,
    rgba(42, 68, 111, 1) 0%,
    rgba(0, 120, 212, 1) 35.41666567325592%,
    rgba(141, 200, 232, 1) 100%
  );
  --greengradient: linear-gradient(
    3.95deg,
    rgba(35, 135, 119, 1) 0%,
    rgba(73, 197, 177, 1) 47.39583432674408%,
    rgba(212, 236, 142, 1) 100%
  );
  --orangegradient: linear-gradient(
    4.71deg,
    rgba(255, 163, 139, 1) 0%,
    rgba(255, 227, 153, 1) 100%
  );
  --magentagradient: linear-gradient(
    12.16deg,
    rgba(192, 59, 196, 1) 56.25%,
    rgba(255, 163, 139, 1) 94.79166865348816%
  );
  --blackgradient-1: linear-gradient(
    237.24deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --blackgradient-2: linear-gradient(
    180deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --blackgradien-3: linear-gradient(
    162.56deg,
    rgba(98, 98, 98, 1) 0%,
    rgba(38, 38, 38, 1) 25%,
    rgba(73, 73, 73, 1) 27.60416567325592%,
    rgba(0, 0, 0, 1) 69.79166865348816%
  );
  --gradientcolorful-2: conic-gradient(
    from -78.97deg at 50% 50%,
    rgba(192, 59, 196, 1) 0%,
    rgba(0, 120, 212, 1) 27.08333432674408%,
    rgba(73, 197, 177, 1) 51.04166865348816%,
    rgba(255, 163, 139, 1) 76.04166865348816%,
    rgba(192, 59, 196, 1) 100%
  );

  /* Fonts */

  /* Effects */
  --innershadow-box-shadow: inset 4.7px 4.7px 9.41px 0px
    rgba(255, 255, 255, 0.5);
  --innershadow-backdrop-filter: blur(23.51px);
  --dropshadow-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12),
    0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}

