.custom-blockquote p {
  background: #07394F;
  color: #63D0FF;
}

.custom-blockquote p.custom-paragraph strong.custom-bold {
  color: #63D0FF;
  font-family: Segoe UI;
  font-size: 16.697px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.49px;
  letter-spacing: -0.167px;
}

.custom-blockquote p.custom-paragraph strong.custom-bold a {
  color: #63D0FF;
  font-family: Segoe UI;
  font-size: 16.697px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.49px;
  letter-spacing: -0.167px;
}
