.custom-blockquote p {
  display: flex;
  /* width: 976.138px; */
  padding: 22.64px 61.825px;
  justify-content: center;
  align-items: center;
  gap: 8.708px;
  border-radius: var(--None, 0px);
  background: rgba(0, 63, 90, 0.80);
}

.custom-blockquote p strong {
  color: #11B3FB;
  font-family: Segoe UI;
  font-size: 16.697px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.49px;
  letter-spacing: -0.167px;
}