.custom-h5 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #72A1E5;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #BA5A31;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #888;
    --gray-dark: #333;
    --primary: #30638E;
    --secondary: #FFA630;
    --success: #3772FF;
    --info: #C0E0DE;
    --warning: #ED6A5A;
    --danger: #ED6A5A;
    --light: #D3F3EE;
    --dark: #403F4C;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: open sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    text-align: left;
    color: white;
    box-sizing: border-box;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    margin-bottom: 0;
}