.markdown-page-container {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.49px;
    /* 153.06% */
    letter-spacing: 0.48px;
}

.markdown-page {
    border-radius: 10px;
    border: 1px solid #BBB;
    background: #242424;
    padding: 10px;
    min-height: 80%;
}

.github-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
}