@import "../../Vars.css";

.dropdown-dropdown-body,
.dropdown-dropdown-body * {
  box-sizing: border-box;
}

.dropdown-dropdown-body {
  border-radius: 4px;
  flex-shrink: 0;
  width: 234px;
  position: relative;
  overflow: auto;
  transition: 'all 0.5s';
  overflow: 'auto';
  scrollbar-width: 'none';
  -ms-overflow-style: 'none';
}

.dropdown-frame-2018775997 {
  background: var(--neutral-background-4-rest, #0a0a0a);
  border-radius: 0px 0px 4px 4px;
  padding: 0px 8px 20px 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 234px;
  position: absolute;
  left: 0px;
  top: 44px;
}

.dropdown-dropdown-item {
  background: var(--neutral-background-4-rest, #0a0a0a);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 214px;
  min-height: 32px;
  position: relative;
  cursor: pointer;
}

.dropdown-dropdown-item:hover {
  background: var(--neutral-background-2-hover, #333333);
}

.dropdown-dropdown-item:active {
  background: var(--neutral-background-2-pressed, #242424);
}

.dropdown-dropdown-item:focus {
  background: var(--neutral-background-2-selected, #292929);
}

.dropdown-list-container {
  padding: 6px 6px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.dropdown-list-item-text {
  color: var(--neutral-foreground-1-rest, #ffffff);
  text-align: left;
  font: var(--web-caption-1-strong, 600 12px/16px "Segoe UI", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-checkmark-control {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}

.dropdown-list-item-text2 {
  color: var(--neutral-foreground-1-rest, #ffffff);
  text-align: left;
  font: 400 14px/16px "Segoe UI", sans-serif;
  position: relative;
  width: 143px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-dropdown-body2 {
  border-radius: 4px;
  width: 234px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.dropdown-main-menu {
  background: var(--neutral-background-4-rest, #0a0a0a);
  border-radius: 4px;
  padding: 14px 10px 14px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}

.dropdown-frame-59941 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.dropdown-community {
  color: var(--neutral-foreground-1-rest, #ffffff);
  text-align: center;
  font: 400 13px/20px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-chevron {
  flex-shrink: 0;
  position: relative;
  /* transform: translate(-14px, -14px); */
  overflow: visible;
  transition: all 0.dropdown-2s ease-in-out 0s;
}