.search-bar {
    border-radius: 3px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 150px;
    height: 30px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.search-input {
    background: none;
    color: var(--neutral-foreground-1-rest, #ffffff);
    text-align: left;
    font: 400 13px/20px "Segoe UI", sans-serif;
    width: 95%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
}

.search-input:focus {
    outline: none;
}
