.search-bar {
    border-radius: 3px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 119px;
    height: 30px;
    position: absolute;
    right: 415px;
    top: 9px;
}

.search {
    background: none;
    color: var(--neutral-foreground-1-rest, #ffffff);
    text-align: left;
    font: 400 13px/20px "Segoe UI", sans-serif;
    position: absolute;
    left: 13px;
    top: 2px; /* Figma shows 4px from the top */
    width: 42px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
}

.search:focus {
    outline: none;
}

.icon-search {
    position: absolute;
    left: 90.36px;
    top: 7.5px;
    transform: translate(0px, -1.57px);
    overflow: visible;
}