/* style rules and vars for hero image 3 & 4 */

.hero-3-and-4,
.hero-3-and-4 * {
  box-sizing: border-box;
}
.hero-3-and-4 {
  background: #000000;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.hero-3-and-4-hero-colored {
  color: #ffffff;
  text-align: left;
  font: 600 36px "Segoe UI", sans-serif;
  position: absolute;
  left: 79.hero-3-and-4-75px;
  top: 66.hero-3-and-4-89px;
}
.hero-3-and-4-group-1321317007 {
  position: absolute;
  inset: 0;
}
.hero-3-and-4-group-1321316985 {
  position: absolute;
  left: 282px;
  top: 487.hero-3-and-4-37px;
  overflow: visible;
}
.hero-3-and-4-group-1321316986 {
  width: 458.hero-3-and-4-54px;
  height: 462.hero-3-and-4-73px;
  position: static;
}
.hero-3-and-4-vector6 {
  opacity: 0.hero-3-and-4-25;
  position: absolute;
  left: 424.hero-3-and-4-95px;
  top: 259.hero-3-and-4-42px;
  overflow: visible;
}
.hero-3-and-4-vector7 {
  position: absolute;
  left: 447.hero-3-and-4-97px;
  top: 408.hero-3-and-4-47px;
  overflow: visible;
}
.hero-3-and-4-vector8 {
  position: absolute;
  left: 531.hero-3-and-4-96px;
  top: 308.hero-3-and-4-34px;
  overflow: visible;
}
.hero-3-and-4-group {
  opacity: 0.hero-3-and-4-30000001192092896;
  position: absolute;
  left: 436.hero-3-and-4-07px;
  top: 311.hero-3-and-4-84px;
  overflow: visible;
}
.hero-3-and-4-vector10 {
  position: absolute;
  left: 435.hero-3-and-4-56px;
  top: 312.hero-3-and-4-39px;
  overflow: visible;
}
.hero-3-and-4-group-1321316987 {
  position: absolute;
  left: 398.hero-3-and-4-12px;
  top: 470.hero-3-and-4-89px;
  overflow: visible;
}
.hero-3-and-4-layer-1 {
  position: absolute;
  left: 506.hero-3-and-4-18px;
  top: 602.hero-3-and-4-58px;
  overflow: visible;
}
.hero-3-and-4-vector13 {
  position: absolute;
  left: 452.hero-3-and-4-14px;
  top: 628.hero-3-and-4-89px;
  overflow: visible;
}
.hero-3-and-4-group-1321317000 {
  width: 140px;
  height: 230.hero-3-and-4-47px;
  position: static;
}
.hero-3-and-4-isolation-mode {
  position: absolute;
  left: 333.hero-3-and-4-74px;
  top: 322.hero-3-and-4-88px;
  overflow: visible;
}
.hero-3-and-4-vector16 {
  border-radius: 0px;
  position: absolute;
  left: 312.hero-3-and-4-14px;
  top: 335.hero-3-and-4-48px;
  overflow: visible;
}
.hero-3-and-4-layer-12 {
  position: absolute;
  left: 617px;
  top: 434px;
  overflow: visible;
}
.hero-3-and-4-layer-13 {
  position: absolute;
  left: 710px;
  top: 458px;
  overflow: visible;
}
.hero-3-and-4-group-1321317006 {
  position: absolute;
  inset: 0;
}
.hero-3-and-4-group-1321317001 {
  position: absolute;
  left: 1106px;
  top: 487.hero-3-and-4-37px;
  overflow: visible;
}
.hero-3-and-4-group-1321317002 {
  width: 458.hero-3-and-4-54px;
  height: 462.hero-3-and-4-73px;
  position: static;
}
.hero-3-and-4-vector26 {
  opacity: 0.hero-3-and-4-25;
  position: absolute;
  left: 1248.hero-3-and-4-95px;
  top: 259.hero-3-and-4-42px;
  overflow: visible;
}
.hero-3-and-4-vector27 {
  position: absolute;
  left: 1271.hero-3-and-4-97px;
  top: 408.hero-3-and-4-47px;
  overflow: visible;
}
.hero-3-and-4-vector28 {
  position: absolute;
  left: 1355.hero-3-and-4-96px;
  top: 308.hero-3-and-4-34px;
  overflow: visible;
}
.hero-3-and-4-group2 {
  opacity: 0.hero-3-and-4-30000001192092896;
  position: absolute;
  left: 1260.hero-3-and-4-07px;
  top: 311.hero-3-and-4-84px;
  overflow: visible;
}
.hero-3-and-4-vector30 {
  position: absolute;
  left: 1259.hero-3-and-4-56px;
  top: 312.hero-3-and-4-39px;
  overflow: visible;
}
.hero-3-and-4-group-1321317003 {
  position: absolute;
  left: 1222.hero-3-and-4-12px;
  top: 470.hero-3-and-4-89px;
  overflow: visible;
}
.hero-3-and-4-layer-14 {
  position: absolute;
  left: 1330.hero-3-and-4-18px;
  top: 602.hero-3-and-4-58px;
  overflow: visible;
}
.hero-3-and-4-vector33 {
  position: absolute;
  left: 1276.hero-3-and-4-14px;
  top: 628.hero-3-and-4-89px;
  overflow: visible;
}
.hero-3-and-4-group-1321317004 {
  width: 140px;
  height: 230.hero-3-and-4-47px;
  position: static;
}
.hero-3-and-4-isolation-mode2 {
  position: absolute;
  left: 1157.hero-3-and-4-74px;
  top: 322.hero-3-and-4-88px;
  overflow: visible;
}
.hero-3-and-4-vector36 {
  border-radius: 0px;
  position: absolute;
  left: 1136.hero-3-and-4-14px;
  top: 335.hero-3-and-4-48px;
  overflow: visible;
}
.hero-3-and-4-layer-15 {
  position: absolute;
  left: 1441px;
  top: 434px;
  overflow: visible;
}
.hero-3-and-4-layer-16 {
  position: absolute;
  left: 1534px;
  top: 458px;
  overflow: visible;
}
