.hero,
.hero * {
  box-sizing: border-box;
}
.hero {
  background: #000000;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.hero-colored {
  color: #ffffff;
  text-align: left;
  font: 600 36px "Segoe UI", sans-serif;
  position: absolute;
  left: 79.75px;
  top: 66.89px;
}
.group-1321317009 {
  position: absolute;
  inset: 0;
}
.group-1321316985 {
  position: absolute;
  left: 282px;
  top: 487.37px;
  overflow: visible;
}
.group-1321316986 {
  width: 458.54px;
  height: 462.73px;
  position: static;
}
.vector6 {
  opacity: 0.25;
  position: absolute;
  left: 424.95px;
  top: 259.42px;
  overflow: visible;
}
.vector7 {
  position: absolute;
  left: 447.97px;
  top: 408.47px;
  overflow: visible;
}
.vector8 {
  position: absolute;
  left: 531.96px;
  top: 308.34px;
  overflow: visible;
}
.group {
  opacity: 0.30000001192092896;
  position: absolute;
  left: 436.07px;
  top: 311.84px;
  overflow: visible;
}
.vector10 {
  position: absolute;
  left: 435.56px;
  top: 312.39px;
  overflow: visible;
}
.group-1321316987 {
  position: absolute;
  left: 398.12px;
  top: 470.89px;
  overflow: visible;
}
.layer-1 {
  position: absolute;
  left: 506.18px;
  top: 602.58px;
  overflow: visible;
}
.vector13 {
  position: absolute;
  left: 452.14px;
  top: 628.89px;
  overflow: visible;
}
.group-1321317000 {
  width: 140px;
  height: 230.47px;
  position: static;
}
.isolation-mode {
  position: absolute;
  left: 333.74px;
  top: 322.88px;
  overflow: visible;
}
.vector16 {
  border-radius: 0px;
  position: absolute;
  left: 312.14px;
  top: 335.48px;
  overflow: visible;
}
.layer-12 {
  position: absolute;
  left: 617px;
  top: 434px;
  overflow: visible;
}
.layer-13 {
  position: absolute;
  left: 710px;
  top: 458px;
  overflow: visible;
}
.group-1321317008 {
  position: absolute;
  inset: 0;
}
.group-1321317002 {
  position: absolute;
  left: 1108px;
  top: 487.37px;
  overflow: visible;
}
.group-1321317003 {
  width: 458.54px;
  height: 462.73px;
  position: static;
}
.vector26 {
  opacity: 0.25;
  position: absolute;
  left: 1250.95px;
  top: 259.42px;
  overflow: visible;
}
.vector27 {
  position: absolute;
  left: 1273.97px;
  top: 408.47px;
  overflow: visible;
}
.vector28 {
  position: absolute;
  left: 1357.96px;
  top: 308.34px;
  overflow: visible;
}
.group2 {
  opacity: 0.30000001192092896;
  position: absolute;
  left: 1262.07px;
  top: 311.84px;
  overflow: visible;
}
.vector30 {
  position: absolute;
  left: 1261.56px;
  top: 312.39px;
  overflow: visible;
}
.group-1321317004 {
  position: absolute;
  left: 1224.12px;
  top: 470.89px;
  overflow: visible;
}
.layer-14 {
  position: absolute;
  left: 1332.18px;
  top: 602.58px;
  overflow: visible;
}
.vector33 {
  position: absolute;
  left: 1278.14px;
  top: 628.89px;
  overflow: visible;
}
.group-1321317005 {
  width: 140px;
  height: 231px;
  position: static;
}
.isolation-mode2 {
  position: absolute;
  left: 1159.14px;
  top: 322.62px;
  overflow: visible;
}
.vector36 {
  border-radius: 0px;
  position: absolute;
  left: 1138.14px;
  top: 334.62px;
  overflow: visible;
}
.layer-15 {
  position: absolute;
  left: 1443px;
  top: 434px;
  overflow: visible;
}
.layer-16 {
  position: absolute;
  left: 1536px;
  top: 458px;
  overflow: visible;
}
