@import '../Vars.css';

/* menu */
.frame-65 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 48px;
  position: absolute;
  left: 324px;
  top: 73px;
}

/* search */

/* buttons */

.frame-67 {
  display: flex;
  flex-direction: row;
  gap: 44px;
  align-items: center;
  justify-content: center;
  width: 391px;
  position: absolute;
  left: 1049px;
  top: 86px;
}

