@import '../../Vars.css';

.breadcrumb-bar {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 44px;
  position: absolute;
  left: 59px;
  top: 48px;
}

.forwardSlash {
  color: var(--neutral-foreground-1-rest, #ffffff);
  text-align: center;
  font: 400 14px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 18px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}