.menu-card-state-selected,
.menu-card-state-selected * {
  box-sizing: border-box;
}
.menu-card-state-selected {
  width: 221px;
  height: 81px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
}
.menu-card-state-selected-glow {
  background: linear-gradient(
    134.83deg,
    rgba(80, 230, 255, 1) 0%,
    rgba(0, 120, 212, 1) 100%
  );
  border-radius: 5px;
  width: 221px;
  height: 81px;
  position: absolute;
  left: 0px;
  top: 0px;
  filter: blur(7.5px);
}
.menu-card-state-selected-card {
  background: var(--neutral-background-3-rest, #141414);
  border-radius: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-image: linear-gradient(
    97.42deg,
    rgba(80, 230, 255, 1) 0%,
    rgba(0, 120, 212, 1) 100%
  );
  border-image-slice: 1;
  padding: 8px 10px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  width: 221px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.menu-card-state-selected-header {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 199px;
  position: relative;
}
.menu-card-state-selected-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.menu-card-state-selected-object-counting {
  color: var(--neutral-foreground-1-selected, #ffffff);
  text-align: left;
  font: 600 12px/20px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-card-state-selected-detect-and-count-objects-or-people {
  color: var(--neutral-foreground-1-selected, #ffffff);
  text-align: left;
  font: 400 12px/18px "Segoe UI", sans-serif;
  position: relative;
  width: 199px;
}
