html, body {
	background-color: #1a1a1a;
	color: white;
}

.navbar-dark .navbar-nav .nav-link {
	color: #52eaff !important;
}

.td-navbar {
  background: #1a1a1a !important;
}

.td-navbar .td-search-input {
	background: #262626 !important;
	color: #ffffff;
	outline: none !important;
}

.td-navbar .navbar-brand .logo-text {
	color: white;
}

.td-main .td-sidebar {
	border-top: 0px;
	border-left: 1px solid black;
}

.td-main .td-sidebar .td-sidebar-nav__section-title a {
	color: #52eaff;
}
.td-main .td-sidebar .td-sidebar-nav a:hover {
	color: #fec011 !important;
}
.td-main .td-sidebar .td-sidebar-nav a.active {
	color: #fec011 !important;
}

.td-toc .td-page-meta a {
	color: #52eaff;
}
.td-toc nav a {
	color: #52eaff !important;
}

.td-content .highlight {
	background-color: inherit !important;
}
.td-content .highlight pre  {
	background-color: #222 !important;
	color: inherit !important;
}
a {
	color: #52eaff !important;
}
strong {
	color: #70a5ac !important;	
}

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
}

.algolia-autocomplete .ds-dropdown-menu:before{
	background: #222 !important;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
	background: #222 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
	background: #222 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
	background: #222;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  border-color: white !important;
  font-weight: bold !important;
  color: white !important;
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #ddd !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
	width: 0px !important;
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: bold;
  color: white !important;
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: 0.8rem;
  color: #ddd !important;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
	color: #52eaff !important;
	background: rgba(143,187,237,.1) !important;
	padding: .1em .05em !important;
}