/*

Add styles or override variables from the theme here.

*/

//
// Style Markdown content
//

input::placeholder {
    color: #808080 !important;
}

.section-index h5 a{
    font-size: 20px;
    color: #05498d;
}

.td-navbar {
    background: white !important;
    border-bottom: 1px solid #dee2e6;
    .td-navbar-nav-scroll {
        display: flex;
        align-items: center;
    }
    .td-search-input {
        background: #e1e1e1;
        color: #808080;
        font-size: 20px;
        border-radius: 40px;
        width: 350px;
        padding-left: 25px;
        outline: none;
    }
    .widget {
        margin: 8px 30px 0 0px;
    }   
}
.td-navbar .navbar-brand {
    display: flex;
    align-items: center;
    .navbar-logo {
        img {
            width: 110px;
        }
    }
    .logo-text {
        font-size: 48px;
        margin-left: 10px;
        margin-bottom: 10px;
        color: #000000;
    }
}
.navbar-dark .navbar-nav .nav-link {
    color: #05498d !important;
    font-size: 24px;
}
.dark-mode-toggle {
    margin-left: 0;
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 30px;
      margin-bottom: -2px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .3s;
      transition: .3s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .3s;
      transition: .3s;
    }

    input:checked + .slider {
      background-color: #52eaff;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #52eaff;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(29px);
      -ms-transform: translateX(29px);
      transform: translateX(29px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 30px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    &:hover {
        cursor: pointer;
    }
}
.td-main {
    .td-sidebar {
        margin-top: 8.1rem;
        padding-top: 0;
        margin-top: 8.1rem;
        background: none;

        .td-sidebar-nav {
            padding-top: 2rem;
            .td-sidebar-nav__section {
                padding-left: .5rem;
            }
        }
        
        .td-sidebar-nav__section-title a {
           color: #05498d;
           font-size: 20px;
        }
        .td-sidebar-nav a:hover {
            color: #070707;
        }
        .td-sidebar-nav a.active {
            color: #070707;
        }
        .td-sidebar__inner {
            top: 8.1rem;
            position: sticky;
        }
    }
    main {
        padding-top: 10rem !important;
    }
    a {
        color: #05498d;
    }
}
.td-toc {
    top: 8rem !important;
    border-left: 0 !important;
    .td-page-meta {
        margin-left: 0 !important;
        a {
            color: #05498d;
            font-size: 18px;
        }
    }
    nav {
        a {
          color: #05498d !important;
        }
    }

}
    
.td-content {
    font-size: 20px;
    h1 {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 28px;
    }
    h5, h6 {
        font-size: 24px;
    }
    > h3, > h4, > h5, > h6 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    > ol ol {
        list-style: lower-roman;
    }

    > ol ol ol {
        list-style: lower-alpha;
    }
    a {
        color: #05498d;
    }
    strong {
        color: #05498d;
    }
    pre {
        background-color: inherit !important;
    }
}

@media(max-width: 1959px) {
    .td-navbar {
        .td-search-input {
            font-size: 18px;
        }
        .navbar-brand {
            .logo-text {
                font-size: 40px;
            }
        }
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 20px;
    }
    .td-main {
        .td-sidebar {
            .td-sidebar-nav__section-title a {
               font-size: 18px;
            }
        }
    }
    .td-toc {
        .td-page-meta {
            a {
                font-size: 18px;
            }
        }
    }
    .td-content {
        font-size: 18px;
    }
}
@media(max-width: 1559px) {
    .td-navbar {
        .td-search-input {
            font-size: 18px;
        }
        .navbar-brand {
            .logo-text {
                font-size: 36px;
            }
        }
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 18px;
    }
    .td-main {
        .td-sidebar {
            .td-sidebar-nav__section-title a {
               font-size: 16px;
            }
        }
    }
    .td-toc {
        .td-page-meta {
            a {
                font-size: 16px;
            }
        }
    }
    .td-content {
        font-size: 16px;
    }
}
@media(max-width: 1199px) {
    .td-navbar {
        .td-search-input {
            font-size: 16px;
            width: 220px;
        }
        .navbar-brand {
            width: 100%;
            .logo-text {
                font-size: 32px;
            }
        }
        .navbar-nav {
            padding-bottom: 0 !important;
        }
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 18px;
    }
    .td-main {
        .td-sidebar {
            .td-sidebar-nav__section-title a {
               font-size: 16px;
            }
        }
    }
    .td-toc {
        .td-page-meta {
            a {
                font-size: 16px;
            }
        }
    }
}
@media(max-width: 989px) {
    .td-navbar {
        .td-search-input {
            font-size: 14px;
        }
        .navbar-brand {
            width: 150px;
            .logo-text {
                display: none;
            }
        }
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 18px;
    }
    .td-main {
        .td-sidebar {
            .td-sidebar-nav__section-title a {
               font-size: 14px;
            }
        }
    }
    .td-toc {
        .td-page-meta {
            a {
                font-size: 14px;
            }
        }
    }
}
@media(max-width: 767px) {
    .td-navbar {
        .td-search-input {
            font-size: 14px;
        }
        .navbar-brand {
            width: 370px;
            .logo-text {
                display: block;
                font-size: 24px;
            }
        }
    }
    .td-content {
        font-size: 14px;
    }
    .td-main {
        main {
            padding-top: 2rem !important;
        }
        .td-sidebar {
            position: fixed !important;
            .td-sidebar__inner {
                top: 2rem;
            }
        }
    }
}

@media(max-width: 500px) {
    .td-navbar {
        .navbar-brand {
            width: 350px;
            .navbar-logo img {
                width: 100px;
            }
        }
    }
    .td-navbar {
        .widget {
            display: none;
        }
    }
}

