/* style rules and vars for footer */
   
.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  background: var(--neutral-background-5-rest, #000000);
  width: 1440px;
  height: 522px;
  position: relative;
  overflow: hidden;
}
.footer-frame-59877 {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 77px;
  top: 55px;
}
.footer-group-1797 {
  flex-shrink: 0;
  width: 175px;
  height: 259px;
  position: static;
}
.footer-frame-59879 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer-what-s-new {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 600 12px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 175px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-jumpstart-v-next-jumpstart-agora {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 123.footer-72px;
  height: 229px;
}
.footer-group-1796 {
  flex-shrink: 0;
  width: 193px;
  height: 259px;
  position: static;
}
.footer-frame-59880 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 230px;
  top: 0px;
}
.footer-products-and-pricing {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 600 12px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 193px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-products-pricing-free-azure-services-optimize-your-costs-roi-estimator {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 125.footer-37px;
  height: 229px;
}
.footer-group-1795 {
  flex-shrink: 0;
  width: 175px;
  height: 202px;
  position: static;
}
.footer-frame-59881 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 478px;
  top: 0px;
}
.footer-solutions-and-support {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 600 12px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 175px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-cloud-to-edge-solutions-solution-architectures-account-profile-support-feedback {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-frame-59882 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.footer-partners {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 600 12px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 175px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-jumpstart-community-azure-marketplace-find-a-partner {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 123.footer-72px;
}
.footer-frame-59883 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.footer-resources {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 600 12px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 175px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-documentation-training-and-certifications-blogs-you-tube-microsoft-tech-community-git-hub {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 175px;
  height: 229px;
}
.footer-group-1793 {
  flex-shrink: 0;
  width: 175px;
  height: 259px;
  position: static;
}
.footer-frame-59878 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 259px;
  position: absolute;
  left: 1168px;
  top: 0px;
}
.footer-company {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 600 12px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 175px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-microsoft-about-us-careers-contact-us-privacy-at-microsoft-accessibility-sustainability {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
  width: 124px;
}
.footer-frame-2018776011 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  width: 152px;
  position: absolute;
  left: 77px;
  top: 432px;
}
.footer-frame {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.footer-english-united-states {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-frame-2018776009 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 473px;
  top: 432px;
}
.footer-diversity-and-inclusion {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-privacy-cookies {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-data-protection-notice {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-trademarks {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-terms-of-use {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-privacy-data-management {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-sitemap {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-frame-2018776010 {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.footer-microsoft-2023 {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}
.footer-frame-2018776012 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 251px;
  top: 432px;
}
.footer-group-1010107237 {
  flex-shrink: 0;
  width: 34px;
  height: 16px;
  position: static;
}
.footer-rectangle-34656644 {
  border-radius: 20px;
  border-style: solid;
  border-color: #50e6ff;
  border-width: 1px;
  width: 34px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 4px;
}
.footer-frame2 {
  position: absolute;
  left: 5px;
  top: 7px;
  overflow: visible;
}
.footer-frame3 {
  position: absolute;
  left: 5px;
  top: 7px;
  overflow: visible;
}
.footer-vector-3764 {
  border-radius: 0px;
  position: absolute;
  left: 15.footer-5px;
  top: 5px;
  overflow: visible;
}
.footer-frame4 {
  position: absolute;
  left: 20px;
  top: 7px;
  overflow: visible;
}
.footer-your-privacy-choices {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 11px/24px "Segoe UI", sans-serif;
  position: relative;
}


/* vars */
:root {

  /* Colors */
  --radio-1: radial-gradient(
    closest-side,
    rgba(255, 227, 153, 1) 0%,
    rgba(255, 163, 139, 1) 28.125%,
    rgba(0, 120, 212, 1) 84.89583134651184%,
    rgba(68, 162, 235, 1) 100%
  );
  --gradient-2: linear-gradient(
    270deg,
    rgba(192, 59, 196, 1) 0%,
    rgba(255, 163, 139, 1) 40.625%,
    rgba(255, 227, 153, 1) 100%
  );
  --colorful: linear-gradient(
    -82.02deg,
    rgba(0, 120, 212, 1) 0%,
    rgba(73, 197, 177, 1) 34.375%,
    rgba(255, 163, 139, 1) 67.1875%,
    rgba(192, 59, 196, 1) 100%
  );
  --gradientblue: linear-gradient(
    180deg,
    rgba(141, 200, 232, 1) 0%,
    rgba(0, 120, 212, 1) 100%
  );
  --gradientblue-2: linear-gradient(
    10.61deg,
    rgba(42, 68, 111, 1) 0%,
    rgba(0, 120, 212, 1) 35.41666567325592%,
    rgba(141, 200, 232, 1) 100%
  );
  --greengradient: linear-gradient(
    3.95deg,
    rgba(35, 135, 119, 1) 0%,
    rgba(73, 197, 177, 1) 47.39583432674408%,
    rgba(212, 236, 142, 1) 100%
  );
  --orangegradient: linear-gradient(
    4.71deg,
    rgba(255, 163, 139, 1) 0%,
    rgba(255, 227, 153, 1) 100%
  );
  --magentagradient: linear-gradient(
    12.16deg,
    rgba(192, 59, 196, 1) 56.25%,
    rgba(255, 163, 139, 1) 94.79166865348816%
  );
  --blackgradient-1: linear-gradient(
    237.24deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --blackgradient-2: linear-gradient(
    180deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --blackgradien-3: linear-gradient(
    162.56deg,
    rgba(98, 98, 98, 1) 0%,
    rgba(38, 38, 38, 1) 25%,
    rgba(73, 73, 73, 1) 27.60416567325592%,
    rgba(0, 0, 0, 1) 69.79166865348816%
  );
  --gradientcolorful-2: conic-gradient(
    from -78.97deg at 50% 50%,
    rgba(192, 59, 196, 1) 0%,
    rgba(0, 120, 212, 1) 27.08333432674408%,
    rgba(73, 197, 177, 1) 51.04166865348816%,
    rgba(255, 163, 139, 1) 76.04166865348816%,
    rgba(192, 59, 196, 1) 100%
  );

  /* Fonts */

  /* Effects */
  --innershadow-box-shadow: inset 4.7px 4.7px 9.41px 0px
    rgba(255, 255, 255, 0.5);
  --innershadow-backdrop-filter: blur(23.51px);
  --dropshadow-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12),
    0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}
