.git-hub-button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: var(--neutral-foreground-1-rest, #ffffff);
    font: 400 13px/20px "Segoe UI", sans-serif;
}