@import '../../Vars.css';

.arc-jumpstart,
.arc-jumpstart * {
  box-sizing: border-box;
}
.arc-jumpstart {
  color: var(--neutral-foreground-1-rest);
  text-align: left;
  font: 600 14px/20px "Segoe UI", sans-serif;
  position: relative;
  width: 94px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
