.ms-azure-logo-horizontal-c-white-rgb {
  position: absolute;
  left: 46px;
  top: 13px;
  overflow: visible;
}

.line-123 {
  position: absolute;
  left: 177px;
  top: 12px;
  transform: translate(-0.5px, -0.5px);
  overflow: visible;
}

.microsoft-azure-jumpstart {
  width: 249px;
  height: 23px;
  position: absolute;
  left: 46px;
  top: 86px;
}

.jumpstart-logo {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 195px;
  top: 16px;
}

.arc-jumpstart2 {
  color: var(--neutral-foreground-1-rest, #ffffff);
  text-align: left;
  font: 600 14px/20px "Segoe UI", sans-serif;
  position: relative;
  width: 94px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}