.menu-item-button-collapse-pressed,
.menu-item-button-collapse-pressed * {
  box-sizing: border-box;
}
.menu-item-button-collapse-pressed {
  width: 53px;
  height: 53px;
  position: relative;
}
.menu-item-button-collapse-pressed-rectangle-34656628 {
  background: var(--neutral-background-6-pressed, #333333);
  border-radius: 200px;
  width: 53px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.menu-item-button-collapse-pressed-chevron {
  position: absolute;
  left: 43px;
  top: 15px;
  transform: translate(-32px, 0px);
  overflow: visible;
}
