.menu-item-button-expand-rest,
.menu-item-button-expand-rest * {
  box-sizing: border-box;
}
.menu-item-button-expand-rest {
  width: 53px;
  height: 53px;
  position: relative;
}
.menu-item-button-expand-rest-rectangle-34656628 {
  background: var(--neutral-background-6-rest, #3d3d3d);
  border-radius: 10px 200px 200px 10px;
  width: 53px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 6px;
}
.menu-item-button-expand-rest-chevron {
  position: absolute;
  left: 21px;
  top: 39px;
  transform: translate(0px, -24px);
  overflow: visible;
}
