.state-selected-type-expand,
.state-selected-type-expand * {
  box-sizing: border-box;
}
.state-selected-type-expand {
  width: 53px;
  height: 53px;
  position: relative;
}
.state-selected-type-expand-rectangle-34656628 {
  background: var(--neutral-background-6-selected, #4c4c4c);
  border-radius: 10px 200px 200px 10px;
  width: 53px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 6px;
}
.state-selected-type-expand-chevron {
  position: absolute;
  left: 21px;
  top: 39px;
  transform: translate(0px, -24px);
  overflow: visible;
}
