.state-hover-type-expand,
.state-hover-type-expand * {
  box-sizing: border-box;
}
.state-hover-type-expand {
  width: 53px;
  height: 53px;
  position: relative;
}
.menu-item-button-expand-hover-rectangle-34656628 {
  background: var(--neutral-background-6-hover, #525252);
  border-radius: 10px 200px 200px 10px;
  width: 53px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 6px;
}
.menu-item-button-expand-hover-chevron {
  position: absolute;
  left: 21px;
  top: 39px;
  transform: translate(0px, -24px);
  overflow: visible;
}
