.menu-item-button-collapse-rest,
.menu-item-button-collapse-rest * {
  box-sizing: border-box;
}
.menu-item-button-collapse-rest {
  width: 53px;
  height: 53px;
  position: relative;
}
.menu-item-button-collapse-rest-rectangle-34656628 {
  background: var(--neutral-background-6-rest, #3d3d3d);
  border-radius: 200px;
  width: 53px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.menu-item-button-collapse-rest-chevron {
  position: absolute;
  left: 43px;
  top: 15px;
  transform: translate(-32px, 0px);
  overflow: visible;
}
