.frame-2018775984,
.frame-2018775984 * {
  box-sizing: border-box;
}

.frame-2018775984 {
  background: var(--neutral-background-1-rest, #292929);
  border-radius: 0px 0px 5px 5px;
  padding: 20px 32px 50px 27px;
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 48px;
  z-index: 2;
}

.sub-menu {
  flex-shrink: 0;
  width: 179px;
  height: 159px;
  position: static;
}

.sub-menu-body {
  background: var(--neutral-background-1-rest, #292929);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 29px;
  top: 20px;
}

.frame-2018775955 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-2018775954 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-59895 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 28px;
  position: relative;
}

.overview3 {
  color: var(--neutral-foreground-1-rest, #ffffff);
  text-align: left;
  font: 600 14px/20px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.view-all {
  color: var(--neutral-text-text-cta, #50e6ff);
  text-align: left;
  font: 600 14px/20px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.description {
  color: var(--neutral-foreground-1-rest, #ffffff);
  text-align: left;
  font: 400 14px/20px "Segoe UI", sans-serif;
  position: relative;
  width: 1181px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-59653 {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.row-1 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}