.sub-menu-body,
.sub-menu-body * {
  box-sizing: border-box;
}
.sub-menu-body {
  background: var(--neutral-background-1-rest, #292929);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}