{{ $cover := .HasShortcode "blocks/cover" }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }}flex-column flex-md-row td-navbar">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}overview">
		<span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}<img src="{{.Site.BaseURL}}img/jumpstart-logo.png" alt="logo" />{{ end }}</span><span class="logo-text font-weight-bold">{{ .Site.Title }}</span>
	</a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">
			{{ $p := . }}
			
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="{{.Site.Params.github_repo}}" target="_blank">About</a>
			</li>

			{{ if  .Site.Params.versions }}
			<li class="nav-item dropdown d-none d-lg-block">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown d-none d-lg-block">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
		</ul>
		<div class="navbar-nav">{{ partial "search-input.html" . }}</div>
		<div class="widget">
			<a class="github-button" href={{.Site.Params.github_repo}} data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star this on GitHub">Star</a><script async defer src="https://buttons.github.io/buttons.js"></script>
		</div>
		<a class="dark-mode-toggle">
			<label class="switch">
			  <input type="checkbox" id="dark-mode-toggle" class="fal fa-moon-o nav-item">
			  <span class="slider round"></span>
			</label>
		</a>
	</div>
</nav>
