.menu-item-state-hover,
.menu-item-state-hover * {
  box-sizing: border-box;
}
.menu-item-state-hover {
  background: var(--neutral-background-2-hover, #333333);
  border-radius: 4px;
  padding: 10px 7px 10px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu-item-state-hover-breadcrumb {
  color: var(--neutral-text-text-white, #ffffff);
  text-align: left;
  font: 400 13px/24px "Segoe UI", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
