.menu-item-disabled,
.menu-item-disabled * {
  box-sizing: border-box;
}
.menu-item-disabled {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.menu-item-disabled-start-content {
  padding: 6px 4px 6px 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 218px;
  position: relative;
}
.menu-item-disabled-regular-icon {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.menu-item-disabled-content-frame {
  padding: 0px 2px 0px 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.menu-item-disabled-list-item-text {
  color: var(--neutral-foreground-1-disabled, #9e9e9e);
  text-align: left;
  font: var(--web-body-1, 400 14px/20px "Segoe UI", sans-serif);
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
